/*
 *kardesyazilim.net
 *leo@kardesyazilim
 *25.Tem.2013-15:27:25 
 *base
 */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype'), url('fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('fonts/HelveticaNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'HelveticaNeue',Sans-Serif;
    font-size: 1em;
    color:#999;
}
#headerArea{
    margin: 10px auto;
}
/*logo*/
/*quick*/


/*menu*/
.megamenu_container {
    width:100%;
    height: 36px;
    *height: 34px;
    margin:0 auto;
    position: relative;
    z-index:9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
.megamenu {
    list-style:none;
    padding:0;
    position:relative; /* For IE7 */
    margin:0;
    font-family:'HelveticaNeue',Sans-Serif;
    font-weight: bold;
    font-size:1.2em;
    line-height:1;
}
.megamenu > li {
    float:left;
    margin:0;
    border:none;
    height: 36px;
    *height: 34px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
}


/**/
.markado_nav {
    background: #ff312d;
    /* background: -webkit-linear-gradient(top,#333333 0%,#181818);
     background: -moz-linear-gradient(top,#333333 0%,#181818);
     background: -o-linear-gradient(top,#333333 0%,#181818);
     background: -ms-linear-gradient(top,#333333 0%,#181818);
     background: linear-gradient(top,#333333 0%,#181818);	
     border: 1px solid #171717;
     -webkit-box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
     -moz-box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
     box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
    */
}
.marakado_nav .megamenu {
    color:#FFFFFF;
}
.markado_nav .megamenu > li:hover, 
.markado_nav .megamenu > li.active {
    background: rgba(255,255,255,0.4);
    -webkit-box-shadow:inset 0px 3px 6px rgba(255,255,255,0.4);
    -moz-box-shadow:inset 0px 3px 6px rgba(255,255,255,0.4);
    box-shadow:inset 0px 3px 6px rgba(255,255,255,0.4);
}
.markado_nav .megamenu li.noactive {
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.markado_nav .megamenu > li > a {
    color:#FFFFFF;
    text-shadow:1px 1px 1px #000000;
}
.markado_nav .megamenu > li:hover > a {
    color:#FFFFFF;
    text-shadow:1px 1px 1px #000000;
}
.markado_nav .megamenu > li .megamenu_drop {
    /*background:url("../img/dropdown.png") no-repeat right 18px;*/
}
.markado_nav .megamenu_vertical > li .megamenu_drop {
    background:url("../img/right.png") no-repeat right 16px;
}
.markado_nav .megamenu li.megamenu_button,
.markado_nav .megamenu li.megamenu_button:hover {
    background:url("../img/dropdown.png") no-repeat right 19px;
}
.markado_nav .megamenu li.megamenu_button_active,
.markado_nav .megamenu li.megamenu_button_active:hover {
    background:url("../img/dropdown-up.png") no-repeat right 18px;
}