/*
 *kardesyazilim.net
 *leo@kardesyazilim
 *25.Tem.2013-15:27:25 
 *base
 */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype'), url('fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: local('‚ò∫'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('fonts/HelveticaNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'HelveticaNeue',Sans-Serif;
    font-size: 1em;
    color:#999;
}
#ha{
    margin:  20px 0 0 0;
}
#na{

}
#ca{
    margin: -7px 0 0 0 ;
}
.cab{
    min-height: 800px;
    background-image: url('../img/page-bg.png');
    background-color: #f0f0f0;
}
.ln{
    margin: 20px 0px 0px 10px ;
    margin-right: 10px;

}
.ln >li{
    background-color: #80cd00;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    padding-top: 15px;
    text-align: center;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.ln > li >a{
    color:#fff;
    font-size: 1em;
    font-family:'HelveticaNeue-Bold',Sans-Serif;
    font-weight: bold;
    cursor: auto;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000000;

}
.ln >li:hover,.lSb >li:hover>a:hover{
    background-color: #999;

    border-radius: 5px;

}
/**/

.sbox{
    background-color: #fff;
    width: auto;
    height: 174px;
    text-align: center;
}
.sbox:hover{
    background-color: rgba(255,0,0,0.4);
    border:1px solid #fff;
}
.gbox{

    background-color: transparent;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;


}
.gbox:hover{
    background-color: rgba(255,0,0,0.4);
    border:1px solid #fff;
}
.new{

    background-image: url('../img/new.png');
    background-repeat: no-repeat;
    background-position: left top;

    border: 1px solid red;
}
.prg{

    background-color: #fff;

}
.shr{
    text-align: center;
    background-image: url('../img/sep.png');
    background-position: center top;
    height: 53px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.shr > h1{
    font-size: 1.4em;
    color:#fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000000;
    margin:0;
}
#fa{

}
.ft{
    -webkit-box-shadow:  0 -1px 0 0 #c5c5c5,0 1px 0 0 #fff;
    -moz-box-shadow: 0 -1px 0 0 #c5c5c5,0 1px 0 0 #fff;
    box-shadow: 0 -1px 0 0 #c5c5c5,0 1px 0 0 #fff;

    background-color: #e4e4e4;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;

    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;
    min-height: 370px;
}
.ftm{

    background-image: url('../img/markado-footer-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 370px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;

}
.fbox{

    font-size: 0.9em;
    color:#898989;
    text-shadow: 2px 2px 2px #fff;
    letter-spacing: 1px;
    margin:10px 0 0px 0px ;
    text-align: left;
    /*border-right: 1px solid #898989;*/
    height: 280px;
    -webkit-box-shadow:  1px 0px #c5c5c5,2px 0px #fff;
    -moz-box-shadow: 1px 0px #c5c5c5,2px 0px #fff;
    box-shadow:  1px 0px #c5c5c5,2px 0px #fff;

}
.fbox > h1{
    font-size: 1.3em;
    margin-left: -10px
}
.fbox > ul{
    margin:0;
    margin-left: -10px
}
.fbox > ul >li{
    display: inherit;
}
.fbox >ul >li>a{
    color:#898989;
}
.bjk{


}
.security{
    float: left;
    width: 153px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -41px 1px;
}
.ml10{
    margin-left: 10px;
}
.yapikredi{
    float: left;
    
    width: 64px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -41px -142px;
}
.maximum{
    float: left;
    
    width: 64px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -102px -95px;
}
.bonus{
    float: left;
    width: 56px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -168px -95px;
}
.axess{
    float: left;
    width: 56px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -185px -46px;
}
.advantage{
    float: left;
    width: 88px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -169px -140px;
}
.cardfinans{
    float: left;
    width: 70px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -115px -48px;
}

.paraf{
    float: left;
    width: 34px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -234px -94px;
}

.visa{
    float: left;
    width: 59px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -41px -95px;
}

.master{
    float: left;
    width: 47px;
    height: 46px;
    background: url('../img/banks.png') no-repeat -196px 1px;
}
.american{
    float: left;
    width: 62px;
    height: 46px;
    display: none;
    background: url('../img/banks.png') no-repeat -107px -141px;
}
.terms{
    font-size: 0.8em;
}
@media only screen and (max-width: 1200px) {
    /* For general iPad layouts */


}
.carousel {
    width: auto;
    height: auto;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}


.carousel-indicators{
 position: absolute;
 top:95%;
 left: 45%;
 background-color: transparent;
 width: 100px;

}
.carousel-indicators > li{
   background-color: #999999;
}
.carousel-indicators > li.active{
   background-color: #ed3431;
}
.carousel-control {
    position: absolute;
    top: 45%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 190px;
    font-weight: 100;
    line-height: 30px;
    color: #ff312d;
    text-align: center;
    background: transparent;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.copy{
    margin:-20px  0 0 5px; 
    font-size:0.9em; 
    color:#898989;
    text-shadow: 2px 2px 2px #fff;
}
.sbn{
    
}
.sbn li{
    display: inline;
    background-color: #fff;
}
.mg{
   
    height: 100px;
}